#tagcloud {
    /*padding: 20px;*/
}
/*
a {
    padding: 2px;
    margin: 5px;
    text-decoration: underline;
}*/

#tagcloud a {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 75px;
    height: 34px;
    margin-right: 2px;
}
.tag_selected {
    color: green;
    text-shadow: 2px 2px 10px #000000;
}

#play_sequence_title_section {
    text-align: center;
}

.nav {
    font-size:xx-small; 
    vertical-align:top;
}

.col.active {

}

.col.inactive,
.col.inactive a {
    color: #bbb;
}