{% extends "./base.html" %}

{% block content %}
    <h1>Top tags</h1>

    <a href='/tag/generate_sequence/rand'>Random</a><br/>

    {% if tags %}
        {% for tag in tags %}
            <input type="checkbox" data-tag-id="{{ tag.id }}"/> {{ tag.num_tags }} -
            <a href="/tag/generate_sequence/{{ tag.id }}">{{ tag.name }}</a><br/>
        {% endfor %}
    {% endif %}

    <input type='button' value='Send' onClick='submitCheckboxes();'/>

    <h2>Doublets</h2>

    {% for item in doublets %}
        {{ item.count }} - <a href="/tag/generate_sequence/{{ item.tag_ids|join:',' }}">{{ item.tag_names|join:',' }}</a><br/>
    {% endfor %}

    <h2>Triplets</h2>

    {% for item in triplets %}
        {{ item.count }} - <a href="/tag/generate_sequence/{{ item.tag_ids|join:',' }}">{{ item.tag_names|join:',' }}</a><br/>
    {% endfor %}
{% endblock %}